<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row row-cols-lg-4 rows-colm-md-3 rows-colm-sm-2 mt-3">
            <% for(listings of allListings) {%>
                <a href="/listings/<%= listings._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img class="card-img-top" src="<%= listings.image.url %>" alt="Listing image"
                            style="height: 28rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listings.title %>
                                </b><br>
                                &#8377;<%= listings.price.toLocaleString("en-IN") %>/ night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>