<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row mt-4">
            <div class="col-md-8 offset-2">
                <h1>Create new listings</h1>
                <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
                        <div class="invalid-feedback">
                            Title should be valid.
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="listing[description]" cols="30" rows="3" placeholder="Description"
                            class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Description should be valid.
                              </div>
                    </div>
                    
                  <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input name="listing[price]" placeholder="Enter price" class="form-control" required>
                            <div class="invalid-feedback">
                                Price should be valid.
                              </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location:</label>
                            <input type="text" name="listing[location]" placeholder="Enter Location"
                                class="form-control" required>
                                <div class="invalid-feedback">
                                    Location should be valid.
                                  </div>
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">
                            Location should be valid.
                          </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-danger new-btn ">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </body>