body {
    font-family: "Poppins", sans-serif !important;
    font-weight: 100;
    color: black !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* navbar */
.navbar {
    height: 10rem;
    background-color: whitesmoke;
}

/* .links-container {
    display: flex;
    justify-content: space-between;
} */

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
}


#filters {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
    opacity: 0.6;
}

.filter p {
    margin-left: 1rem;
}




/* footer */
.f-info-links a {
    text-decoration: none;
    color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 500;
}

.listing-link {
    text-decoration: none;
    color: black;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background: white;
}

/* new page */
.new-btn {
    border: none !important;
}

/* show page */
.show-img {
    height: 30vh;
}

.buttons {
    display: flex;
}

.show-card {
    margin-left: 7rem !important;
}

#map {
    width: 600px;
    height: 400px;
}